#home{
    width: 100%;
    height: auto;
    background-color: rgb(247, 236, 222);
    padding-bottom:70px;
  }
  .title{
   margin-top: 50px;
  }
  .title h1{
  
   font-family: "Pacifico", cursive;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
  font-size: 50px;
  }
  .title h1::before{
   content: "";
    width: 100%;
    height: 25%;
   background-color:  rgb(254, 194, 96);
    position: absolute;
    bottom: 2px;
    z-index: -5;
    transition: all 1s;
  }
 
  .title:hover ::before{
   padding-top: 50px;
  }
  .dot{
   margin-top: 100px;
   width: 100%;
   height: 50vh;
   background-color:transparent;
   border-top: 2px dotted black;
   border-bottom: 2px dotted black;
   
  }
 .title-h2{
   margin-top: 20px;
   font-family: "Righteous", cursive;
   background-image: linear-gradient(to right, rgb(60, 165, 92), rgb(181, 172, 73));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
 }
 .input{
   font-family: "PT Sans Caption", sans-serif;
   font-weight: 800;
   font-size: 17px;
 
 }
 .btn1{
   
   width: 150px;
   height: 40px;
   background-color: #d1512d;
   border: none;
   border-radius: 5px;
   color: white;
   transition: background-color 0.5s;
 }
 .btn1:hover{
   background-color: #a03315;
 }
 
 .table1{
 
   font-family: "PT Sans Caption", sans-serif;
 
 }
 .btn-visit{
   width: 80px;
   height: 35px;
   border-radius: 5px;
   border: none;
   background-color: rgb(138, 158, 35);
   color:white;
 }
 .btn-delete{
   width: 80px;
   height: 35px;
   border-radius: 5px;
   border: none;
   background-color: rgb(211, 8, 32);
   color: white;
   font-size: small;
   padding: 5px;
 }